
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}
ul {
	list-style: none;
}
main {
	display: flex;
	
}
/*table*/
.table {
	padding:  10px;
}
.table td {
	text-align: center;
	font-weight: bold;
}
.div {
	margin: 45px 0;
}
.h1 {
	font-size: 30px;
	border-bottom: 2px solid black;	
}
/*kraj table*/
#drop-down-id {
	width: 12%;
	background-color: black;
	border-right: 1px solid #ffffb3;
	border-top: 1px solid #ffffb3;
	
}
#drop-down-id.open {
	width: 8%;
	transition: 0.8s;
}
#drop-down-id.open ul li a {
	text-align: center;
	font-size: 15px;
}
#drop-down-id.open ul li a i{
	display: block;
	text-align: center;

}
section.width{
	width: 100%;
}
section {
	width: 88%;
}
.header-wrapper {
	background-color:   #333333;
	width: 100%;
}
.header {
	padding: 15px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.header i {
	padding-left: 7px;
	color: grey;
}
.header h3 {
	color: white;
	font-weight: normal;

}
#drop-down-id {

}
ul.drop-down {
	display: flex;
}
ul.drop-down li {
	
}
ul.drop-down li a {
	padding: 0 30px;
	display: block;
	text-decoration: none;
	color: grey;
}
ul.drop-down li a:hover {
	color: white;
	transition: 0.8s;
}

.show {
	display: none;
}
ul.drop-down li ul.drop-down2 {
	display: none;
}
ul.drop-down li.dropdown:hover .drop-down2 {
	display: block;
	transition: 2s;

}

.drop-down2 li {
	padding: 10px 5px;
}
.drop-down2 {
  position: absolute;
  top: 40px;
  right: 40px;
  left: auto;
  padding: 5px;
  border-radius: 3px;
  background-color: black;
  border: 2px solid black;
  width: 150px;
}

/*aside*/

ul.drop-down3 {
	padding: 15px;
}
ul.drop-down3 li {

}
ul.drop-down3 li a{
	display: block;
	text-decoration: none;
	color: white;
	font-size: 20px;
	padding: 10px 0;
}
ul.drop-down3 li a i {
	padding-right: 10px;
}

/*Naslov ispod headera*/
.h2 {
	margin: 15px;
	padding: 15px;
	background-color: #ffffb3;
	border-radius: 20px;
}
.h2 a {
	text-decoration: none;
}
/*Container*/
.container {
	width: 800px;
	margin: auto;
}
.wrapper {
	margin: 50px 0;
}
.wrapper h1 {
border-bottom: 1px solid black;
}
/*Admin create strana*/
form {
	width: 100%;
	border: 2px solid  #d9d9d9;
	padding: 15px;
	background-color:  #e6e6e6;

}
.form-group {
	width: 100%;
	padding: 20px 0;
}
.form-group input{
	width: 100%;
}
.form-group textarea {
	width: 100%;
	height: 100px;
}
.form-group select {
	width: 100%;
}
select.form-control {
	padding: 10px;
}
.btn-2  {
	width: 100%;
	padding: 10px;

}
/*footer*/
.footer p  {
	padding-top: 40px;
	color: black;
	font-weight: bold;
	border-bottom: 2px solid black;
	padding-right: 50px;
}

.footer-wrapper {
 	display: block;
 	min-height: 100px;
 	margin-top: 400px;
 	background-color: #ffffb3;
 	text-align: center;
}
/*posts strana*/
.row {
	width: 100%;
	background-color: grey;
}
.col {
	padding: 20px;
}
.card h5 {
	text-align: center;
	font-size: 25px;
	color: white;
}
.card p {
	padding: 20px 150px;
	margin-bottom: 20px;
}
.card a.btn {
	text-decoration: none;
	color: black;
	padding: 10px;
	margin-top: 10px;
	background-color:  green;
	margin-right: 20px;
	border-radius: 10px;
}
.card a.btn:hover {
	padding: 15px 20px;
}
.card a.btn1 {
	text-decoration: none;
	color: black;
	padding: 10px;
	margin-top: 10px;
	background-color:  #ff0000;
	border-radius: 10px;

}
.card a.btn1:hover {
	padding: 15px 20px;
}

.card-img {
	width: 100%;
}

@media(max-width: 734px) {
	section {
		width: 70%;
	}
	#drop-down-id {
		width: 30%;
	}
	.container {
		width: 100%;
		margin: auto;
		padding: 0 15px;
	}
	.card p  {
 	padding: 0;
	} 
	
}
@media(max-width: 450px) {
	.container {
		padding: 0 15px;
		width: 100%;
		margin: auto;
	}
}